/* table-columns.css */
table {
  width: 50%;
}

.page-divide-container {
  display: flex;
}

.two-thirds-column {
  width: 66.666%;
}

.one-third-column {
  width: 33.333%;
}

th,
td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
